## Import relevant libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Loading the data

In [5]:
data=pd.read_csv("C:\\Users\\akhil\\OneDrive\\Desktop\\test1.csv")

In [6]:
data

,S.no,Truck name,Box volume(m^3),Tire weight(in pounds),Tire pressure(in PSI),no of tires,GVW rating,Road conditions,load capacity(lb/PSI),validity
0,1,Tata_Prima,16.0,128.76,120.5040,10,27600,normal,1.068,Yes
1,2,Tata_Prima,16.0,128.76,110.5040,10,27600,normal,1.165,Yes
2,3,Tata_Prima,16.0,128.76,100.5040,10,27600,normal,1.281,Yes
3,4,Tata_Prima,16.0,128.76,120.5040,10,27600,inclined,1.233,Yes
4,5,Tata_Prima,16.0,128.76,110.5040,10,27600,inclined,1.345,Yes
...,...,...,...,...,...,...,...,...,...,...
75,76,Benz,50.0,128.76,100.5040,10,60000,declined,0.451,No
76,77,Ashok Leyland,9.2,128.76,110.5040,6,51000,declined,0.341,No
77,78,Ashok Leyland,9.2,128.76,100.5040,6,52000,declined,0.451,No
78,79,Mahendra,19.8,63.05,72.5189,6,60000,normal,1.083,No
79,80,Mahendra,19.8,63.05,62.5189,6,61000,normal,0.008,No

## Understanding the data

In [7]:
data.head()

,S.no,Truck name,Box volume(m^3),Tire weight(in pounds),Tire pressure(in PSI),no of tires,GVW rating,Road conditions,load capacity(lb/PSI),validity
0,1,Tata_Prima,16.0,128.76,120.504,10,27600,normal,1.068,Yes
1,2,Tata_Prima,16.0,128.76,110.504,10,27600,normal,1.165,Yes
2,3,Tata_Prima,16.0,128.76,100.504,10,27600,normal,1.281,Yes
3,4,Tata_Prima,16.0,128.76,120.504,10,27600,inclined,1.233,Yes
4,5,Tata_Prima,16.0,128.76,110.504,10,27600,inclined,1.345,Yes

In [8]:
data.tail()

,S.no,Truck name,Box volume(m^3),Tire weight(in pounds),Tire pressure(in PSI),no of tires,GVW rating,Road conditions,load capacity(lb/PSI),validity
75,76,Benz,50.0,128.76,100.5040,10,60000,declined,0.451,No
76,77,Ashok Leyland,9.2,128.76,110.5040,6,51000,declined,0.341,No
77,78,Ashok Leyland,9.2,128.76,100.5040,6,52000,declined,0.451,No
78,79,Mahendra,19.8,63.05,72.5189,6,60000,normal,1.083,No
79,80,Mahendra,19.8,63.05,62.5189,6,61000,normal,0.008,No

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   S.no                    80 non-null     int64
 1   Truck name              80 non-null     object
 2   Box volume(m^3)         80 non-null     float64
 3   Tire weight(in pounds)  80 non-null     float64
 4   Tire pressure(in PSI)   80 non-null     float64
 5   no of tires             80 non-null     int64
 6   GVW rating              80 non-null     int64
 7   Road conditions         80 non-null     object
 8   load capacity(lb/PSI)   80 non-null     float64
 9   validity                80 non-null     object
dtypes: float64(4), int64(3), object(3)
memory usage: 6.4+ KB

In [10]:
data.nunique()

S.no                      80
Truck name                 4
Box volume(m^3)            4
Tire weight(in pounds)     2
Tire pressure(in PSI)      6
no of tires                2
GVW rating                10
Road conditions            3
load capacity(lb/PSI)     34
validity                   2
dtype: int64

In [11]:
data.shape

(80, 10)

In [12]:
data.columns

Index(['S.no', 'Truck name', 'Box volume(m^3)', 'Tire weight(in pounds)',
       'Tire pressure(in PSI)', 'no of tires', 'GVW rating', 'Road conditions',
       'load capacity(lb/PSI)', 'validity'],
      dtype='object')

## Preprocessing of data

### Maximum GVW truck in the nation is less than 50000 kg .so, if GVW>=50000 the wow will be droped.

In [13]:
data.drop(data[data['GVW rating'] >= 50000].index, inplace=True)

In [14]:
data

,S.no,Truck name,Box volume(m^3),Tire weight(in pounds),Tire pressure(in PSI),no of tires,GVW rating,Road conditions,load capacity(lb/PSI),validity
0,1,Tata_Prima,16.0,128.76,120.504,10,27600,normal,1.068,Yes
1,2,Tata_Prima,16.0,128.76,110.504,10,27600,normal,1.165,Yes
2,3,Tata_Prima,16.0,128.76,100.504,10,27600,normal,1.281,Yes
3,4,Tata_Prima,16.0,128.76,120.504,10,27600,inclined,1.233,Yes
4,5,Tata_Prima,16.0,128.76,110.504,10,27600,inclined,1.345,Yes
...,...,...,...,...,...,...,...,...,...,...
67,68,Benz,50.0,128.76,110.504,10,28000,inclined,0.345,No
68,69,Benz,50.0,128.76,100.504,10,28000,inclined,0.478,No
69,70,Benz,50.0,128.76,120.504,10,28000,declined,0.230,No
70,71,Benz,50.0,128.76,110.504,10,28000,declined,0.341,No
71,72,Benz,50.0,128.76,100.504,10,28000,declined,0.451,No

In [15]:
data.shape

(72, 10)

### Changing the categorial data to numerical data

In [ ]:
truck_name_mapping = {
    'Tata_Prima': 1,
    'Mahendra': 2,
    'Ashok Leyland': 3,
    'Benz': 4
}

# Replace the truck names with their mapped numerical values
data['Truck name'] = data['Truck name'].replace(truck_name_mapping)

In [16]:
road_conditions_mapping = {
    'normal': 0,
    'inclined': 1,
    'declined': 2
}
data['Road conditions'] = data['Road conditions'].replace(road_conditions_mapping)

In [17]:
data

,S.no,Truck name,Box volume(m^3),Tire weight(in pounds),Tire pressure(in PSI),no of tires,GVW rating,Road conditions,load capacity(lb/PSI),validity
0,1,Tata_Prima,16.0,128.76,120.504,10,27600,0,1.068,Yes
1,2,Tata_Prima,16.0,128.76,110.504,10,27600,0,1.165,Yes
2,3,Tata_Prima,16.0,128.76,100.504,10,27600,0,1.281,Yes
3,4,Tata_Prima,16.0,128.76,120.504,10,27600,1,1.233,Yes
4,5,Tata_Prima,16.0,128.76,110.504,10,27600,1,1.345,Yes
...,...,...,...,...,...,...,...,...,...,...
67,68,Benz,50.0,128.76,110.504,10,28000,1,0.345,No
68,69,Benz,50.0,128.76,100.504,10,28000,1,0.478,No
69,70,Benz,50.0,128.76,120.504,10,28000,2,0.230,No
70,71,Benz,50.0,128.76,110.504,10,28000,2,0.341,No
71,72,Benz,50.0,128.76,100.504,10,28000,2,0.451,No

### The data which is preprocessed can be stored in another csv file to perfom the futher steps:

In [18]:
data.to_csv("C:\\Users\\akhil\\OneDrive\\Desktop\\sss.csv",index=False)

In [19]:
df=pd.read_csv("C:\\Users\\akhil\\OneDrive\\Desktop\\sss.csv")

### Applying the Regression model

In [20]:
from sklearn.model_selection import train_test_split

# Read the dataset
df=pd.read_csv("C:\\Users\\akhil\\OneDrive\\Desktop\\dataframe.csv")
# Separate features and target variable
X = df.drop(['validity',"S.no",'Box volume(m^3)','Tire weight(in pounds)'], axis=1)  # Features
y = df['validity']  # Target variable
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
from sklearn.linear_model import LogisticRegression

# Create an instance of logistic regression
logreg = LogisticRegression()

# Train the model on the training data
logreg.fit(X_train, y_train)

LogisticRegression()

In [23]:
y_pred = logreg.predict(X_test)

In [24]:
from sklearn.metrics import accuracy_score, classification_report

# Calculate accuracy score
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate classification report
classification_report = classification_report(y_test, y_pred)
print("Classification Report:\n", classification_report)

Accuracy: 0.9090909090909091
Classification Report:
               precision    recall  f1-score   support

          No       1.00      0.83      0.91         6
         Yes       0.83      1.00      0.91         5

    accuracy                           0.91        11
   macro avg       0.92      0.92      0.91        11
weighted avg       0.92      0.91      0.91        11

### Taking only one input of any truck conditions and predicting the output.

In [25]:
d={'Truck name':[1],
   'Tire pressure(in PSI)':[128.76],
   'no of tires':[10],
   'GVW rating':[27600],
   'Road conditions':[0],
   'load capacity(lb/PSI)':[0.068]}

In [26]:
df=pd.DataFrame(d)

In [27]:
df

,Truck name,Tire pressure(in PSI),no of tires,GVW rating,Road conditions,load capacity(lb/PSI)
0,1,128.76,10,27600,0,0.068

In [28]:
y_pred=logreg.predict(df)

In [29]:
y_pred

array(['No'], dtype=object)